<div class="container-fluid d-none d-md-block" id="news2">
  <% post.forEach(function(posts, index) { %>
    <%if (index % 2 == 0) { %>
      <div class="row" style="background-color: lightgreen;">
        <div class="col-md-4 d-none d-md-block" >
          <img src="<%- posts.image %>" class="img-thumbnail rounded">
        </div>
        <div class="col-md-8 d-none d-md-block">
          <a href="/<%- posts.date %>/<%- posts.archiName %>"><h2><%- posts.title %></h2></a>
          <p><%= posts.body %></p>
        </div>
      </div>
    <% } else {%>
    <div class="row">
      <div class="col-md-8 d-none d-md-block" >
        <a href="/<%- posts.date %>/<%- posts.archiName %>"><h2><%- posts.title %></h2></a>
          <p><%= posts.body %></p>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <img src="<%- posts.image %>" class="img-thumbnail rounded float-right">
      </div>
    </div>
    <% } %>
  <% }) %>
</div>
