<div class="d-none d-md-block" id="news2">
  <div class="row">
  <% post.forEach(function(posts, index) { %>
        <div class="texto-noticia-adm container-fluid col-lg-5">
          <img src="<%- 'data:image/webp;base64,'+posts.image.toString('base64') %>" class="img-thumbnail border border-primary">
          <a href="/<%- posts.date %>/<%- posts.archiName %>"><h2><%- posts.title %></h2></a>
          <p><%- posts.body %></p>
        </div>
        <div>
          <button class="btn m-auto btn-danger" ng-click="removePost('<%- posts.date %>', '<%- posts.archiName %>')"><i class="fas fa-trash"></i></button>
        </div>
  <% }) %>

  </div>

</div>

