<div class="container-fluid d-none d-md-block" id="news2">
  <div class="row">
  <% post.forEach(function(posts, index) { %>
        <div class="col-lg-5 noticia">
          <img src="<%- posts.image %>" class="img-thumbnail border border-primary">
          <a href="/<%- posts.date %>/<%- posts.archiName %>"><h2><%- posts.title %></h2></a>
          <p><%- posts.body %></p>
          <button class="btn btn-danger" ng-click="removePost('<%- posts.date %>', '<%- posts.archiName %>', '<%- posts.imageId %>')"><i class="fas fa-trash"></i></button>
        </div>
  <% }) %>
  </div>
</div>

